div.card-header {
  border: none;
  background: none;
}

div.card {
  border: none;
}

h5.card-title {
  color: #21325E;
}

.card-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 2.5px;
  border-radius: 5px;
  background-color: #ccc;
  margin-right: 2px;
  background-color: #21325E;
}