.table-area {
  border-radius: 5px;
  margin: 25px;
  margin-top: 20px;
}

.root-block {
  position: relative;
}

.root-block .disable-area {
  height: 100%;
  width: 100%;
  
  background-color: #00000021;
  z-index: 10000; 
  
  position: absolute;
}

.root-block .disable-area .loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

.disable-area.hidden {
  display: none;
}

.finder {
  min-height: 50px;
  padding-right: 35px;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px 20px;
}

.password-block input {
  padding-right: 35px;
}

.password-block {
  position: relative;
}

.password-eye {
  position: absolute;
  top: 7.5px;
  right: 10px;
  cursor: pointer;
}

thead tr th {
  min-width: 110px;
}

.btn-width {
  min-width: 150px;
} 

.btn-disconnect {
  min-width: 130px;
}

.btn-connect {
  min-width: 110px;
}

.btn-modal {
  min-width: 80px;
}

.hidden {
  display: none !important;
}

table tr td.status {
  color: green;
}

div.table-area {
  zoom: 0.9;
}