* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.navbar-nav {
  display: flex;
  gap: 8px;
}

.website-title {
  color: #4B6587;
}

aside.bd-sidebar {
  min-width: 170px;
  height: 100vh;
  padding: 15px;
}

.root-block {
  padding-left: 0;
}