<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Wifi</title>
    
    <link rel="stylesheet" href="./jquery-jvectormap-2.0.5.css">
    <link rel="stylesheet" href="../static/libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/assets/css/wifi.css">
    <link rel="stylesheet" href="../static/assets/css/status.css">
    <link rel="stylesheet" href="../static/assets/css/vpn.css">
    
    <script src="../static/libs/js/bootstrap.min.js" defer></script>
    <script src="../static/assets/js/index.js" defer></script>
    <script src="../static/assets/js/vpn.js" defer></script>
  </head>

  <body>
    <div class="root-block bd-gutter bd-layout d-flex w-100">
      <div class="disable-area hidden">
        <div class="loader spinner-border text-primary" role="status"></div>
      </div>
  
      <aside class="bd-sidebar">
        <div class="offcanvas-body">
          <nav class="bd-links w-100" id="bd-docs-nav">
            <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
              <li class="bd-links-group py-2">
                <h4 class="website-title d-flex w-100 align-items-center fw-semibold">
                  Website
                </h4>
              </li>
        
              <li class="bd-links-group py-2">
                <a class="nav-link" href=/>Status</a>
              </li>
              <li class="bd-links-group py-2">
		      <a class="nav-link" href=/wifi>Wifi</a>
              </li>
              <li class="bd-links-group py-2">
		      <a class="nav-link" href=/openvpn>Openvpn</a>
              </li>
	      <li class="bd-links-group py-2">
		      <a class="nav-link" href=/wireguard>Wireguard</a>
              </li>

              <li class="bd-links-group py-2">
		      <a class="nav-link" href=/dns>DNS</a>
              </li>
	      <li class="bd-links-group py-2">
		      <a class="nav-link" href=/bond>Bonding</a>
              </li>

	      <br><br><br>
	      <li>
		<a href=/update>
		<button
                class="btn btn-primary btn-sm"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#disconnect-vpn-modal">
                  Update
                </button>
		</a>
	      </li>
              
            </ul>
          </nav>
        </div>
      </aside>
  
      <main class="bd-main w-100 m-4">
        {% block content %} {% endblock %}
      </main>
    </div>
  </body>
</html>
