{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}{% endblock %}</h1>
  
  <div class="card card-primary">
    <div class="card-header">
      <h5 class="card-title">About Me</h5>
    </div>

    <div class="card-body">
      <strong>
        <i class="bi bi-shuffle"{% if js_var.bond %} style="color: #329b1c;"{% endif %}></i>
        Bonding connection status
      </strong>
      <p class="text-muted"><pre>{{js_var.body}}</pre></p>
      <hr>

    </div>

  </div>


{% endblock %}
