{% extends 'base.html' %}

{% block content %}
<div class="api-block"></div>
 <script>
  const url = 'http://edns.ip-api.com/json'
  const timeout = 3000
  let timerId = undefined

  const options = { method: 'GET' }

  const pre = document.createElement('pre')

  const timeoutPromise = new Promise((resolve, reject) => {
    timerId = setTimeout(() => {
      reject(new Error('Превышено время ожидания'))
    }, timeout)
  })

  Promise.race(
    [
      fetch(url, options),
      timeoutPromise
    ]
  )
    .then(response => {
      clearTimeout(timerId)

      if (!response.ok) {
        throw new Error(`Произошла ошибка при запросе: ${response.statusText}`);
      }

      return response.json()
    })
    .then(data => {
      pre.innerHTML = JSON.stringify(data, null, 2)

      const apiBlock = document.querySelector('.api-block')
      if (apiBlock) {
        apiBlock.append(pre)
      }
    })
    .catch(error => {
      pre.innerHTML = JSON.stringify(data, null, 2)
      document.body.append(pre)
    })
 </script>
{% endblock %}
