{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %}{% endblock %}</h1>
  
  <div class="card card-primary">
    <div class="card-header">
      <h5 class="card-title">About Me</h5>
    </div>

    <div class="card-body">
      <strong>
        <i class="bi bi-wifi" {% if js_var.wifi_status %}style="color: #329b1c;"{% endif %}></i>
        WiFi connection status
      </strong>
      <p class="text-muted">{{js_var.wifi_status}} to {{js_var.wifi_name}}</p>
      <hr>

      <strong>
        {% if js_var.vpn_status %}
          <i class="bi bi-lock-fill" style="color: #329b1c;"></i>
        {% else %}
          <i class="bi bi-unlock"></i>
        {% endif %}
          VPN connection status
      </strong>
      {% if js_var.vpn_status %}
      <p class="text-muted">Connected to {{js_var.vpn_ip}}</p>
      {% else %}
      <p class="text-muted">Unknown</p>
      {% endif %}
      <hr>

      <strong>
        <i class="bi bi-globe" {% if js_var.status %}style="color: #329b1c;"{% endif %}></i> 
        Internet connection status
      </strong>
      {% if js_var.status %}
      <p class="text-muted">Connected to {{js_var.country}}, {{js_var.city}}</p>
      {% else %}
      <p class="text-muted">Unknown</p>
      {% endif %}
      <hr>

      <strong><i class="fas fa-map-marker-alt mr-1"></i> 
        Location
      </strong>
      <p class="text-muted">{{js_var.country}}, {{js_var.city}}, ({{js_var.timezone}}), [Lat: {{js_var.lat}}, Lon: {{js_var.lon}}]</p>
      <hr>

      <strong><i class="fas fa-pencil-alt mr-1"></i> 
        ISP
      </strong>
      <p class="tag tag-success">Name: {{js_var.isp}}, AS: {{js_var.as}}, IP: <b>{{js_var.query}}</b>, DNS: {{js_var.dns}}, EDNS: {{js_var.edns}}</p>
    </div>

    <div class="card bg-gradient-primary">
      <div class="card-header border-0">
        <h5 class="card-title"> GEO Location </h5>
        <div class="card-body">
          <div id="world-map" style="width: 600; height: 600px"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- /.card -->
  <!-- jQuery -->
  <script src="./jquery.min.js"></script>
  <script src="./jquery-jvectormap-2.0.5.min.js"></script>
  <script src="./jquery-jvectormap-world-mill-en.js"></script>
      
  <script>
      $(function(){
        $('#world-map').vectorMap({
    map: 'world_mill_en', 
    markerStyle: {
      initial: {
              fill: '#fc2003',
              stroke: '#F8E23B'
            }
      },
    markers: [
      {latLng: [{{js_var.lat}}, {{js_var.lon}}], name: 'You are here'}
        ]});
      });
  </script>

{% endblock %}
