{% extends 'base.html' %}

{% block content %}
  <!-- <script src="{{ url_for('static', filename='assets/js/index.js') }}"></script> -->

  <h1>{% block title %}{% endblock %}</h1>

  <div class="bd-intro table-area">
    <input 
      type="search" 
      placeholder="Search..."
      class="finder form-control mb-3">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center align-middle" scope="col">Name</th>
          <th class="text-center align-middle status" scope="col">Status</th>
          <th class="text-center align-middle" scope="col">Quality</th>
          <th class="text-center align-middle" scope="col">Channel</th>
          <th class="text-center align-middle" scope="col">Encryption</th>
          <th class="text-center align-middle" scope="col">Address</th>
          <th class="text-center align-middle" scope="col">Signal</th>
          <th class="text-center align-middle action" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in js_var %} 
          <tr class="table-item">
            <td class="text-center align-middle" data-type="Name">{{item.Name}}</td>
            
            <td class="status text-center align-middle" data-type="Status">
            {% if item.Status %}Connected{% endif %} 
            </td>
            
            <td class="text-center align-middle" data-type="Qualify">{{item.Quality}}</td>
            <td class="text-center align-middle" data-type="Channel">{{item.Channel}}</td>
            <td class="text-center align-middle" data-type="Encryption">{{item.Encryption}}</td>
            <td class="text-center align-middle" data-type="Address">{{item.Address}}</td>
            <td class="text-center align-middle" data-type="Signal">{{item.Signal}}</td>
            
            <td class="text-center align-middle">
            {% if item.Status %}  
<!-- 
               <button
                class="btn btn-warning disconnectBtn btn-width" 
                type="button" 
                data-id="{{ loop.index }}"
                data-bs-toggle="modal" 
                data-bs-target="#disconnect-modal">
                  Disconnect
              </button>
-->
            {% else %}
              <button
                class="btn btn-success connectBtn btn-width" 
                type="button" 
                data-id="{{ loop.index }}" 
                data-bs-toggle="modal" 
                data-bs-target="#connect-modal">
                  Connect
              </button>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="connect-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Сonnection
          </h5>
          <button type="button"class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Password</p>

          <div class="password-block">
            <input 
              id="name" 
              type="password" 
              placeholder="Enter password..."
              class="form-control modal-password-input">

            <img 
              src="../static/assets/images/no-eye.png" 
              data-active="0"
              class="password-eye"
              alt="eye" 
              height="23px" 
              width="20px">
          </div>
          
        </div>

        <div class="modal-footer">
          <button 
            type="button"
            class="btn btn-outline-secondary btn-modal" 
            data-bs-dismiss="modal">
              Close
          </button>

          <button 
            type="button"
            class="btn btn-success btn-connect"
            onclick="changeToDisconnect()">
              Сonnect
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="disconnect-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Disconnection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p class="m-0">Are you sure you want to Disconnect?</p>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-outline-secondary btn-modal"
            data-bs-dismiss="modal">
              Close
          </button>

          <button 
            type="button"
            class="btn btn-danger btn-disconnect"
            onclick="changeToConnect()">
              Disconnect
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
