{% extends 'base.html' %}


{% block content %}
  <!-- <script src="{{ url_for('static', filename='assets/js/vpn.js') }}"></script> -->
  
  <h1>{% block title %}{% endblock %}</h1>

  <div class="bd-intro table-area">
    <input 
      type="search" 
      placeholder="Search..."
      class="finder form-control mb-3">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center align-middle" scope="col">Name</th>
          <th class="text-center align-middle status" scope="col">Status</th>
          <th class="text-center align-middle action" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in js_var %} 
          <tr class="table-item">
            <td class="text-center align-middle" data-type="Name">{{item.Name}}</td>
            
            <td class="status text-center align-middle" data-type="Status">
            {% if item.active %}Connected{% endif %} 
            </td>
            
           
            <td class="text-center align-middle">
            {% if item.active %}  
<!--              <button
                class="btn btn-warning disconnect-vpn-btn btn-width" 
                type="button" 
                data-id="{{ loop.index }}"
                data-item="{{ item.Name }}" 
                data-bs-toggle="modal" 
                data-bs-target="#disconnect-vpn-modal">
                  Disconnect
              </button>
-->
            {% else %}
              <button
                class="btn btn-success connect-vpn-btn btn-width" 
                type="button" 
                data-id="{{ loop.index }}"
                data-item="{{ item.Name }}" 
                data-bs-toggle="modal" 
                data-bs-target="#connect-vpn-modal">
                  Connect
              </button>
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal connect-vpn-modal fade" id="connect-vpn-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Сonnection
          </h5>
          <button type="button"class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-message">
          <span>Are you sure to connect to <b></b>? </br> All other tunnels will be disconnected.</span>
        </div>

        <div class="modal-footer">
          <button 
            type="button"
            class="btn btn-outline-secondary btn-disconnect-vpn btn-modal" 
            data-bs-dismiss="modal">
              No
          </button>

          <button 
            type="button"
            class="btn btn-success btn-connect-vpn"
            onclick="changeToDisconnectWG()">
              Yes
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="disconnect-vpn-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Disconnection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <p class="m-0">Are you sure you want to Disconnect?</p>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-outline-secondary btn-modal"
            data-bs-dismiss="modal">
              Close
          </button>

          <button 
            type="button"
            class="btn btn-danger btn-disconnect-vpn"
            onclick="changeToConnectWG()">
              Disconnect
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
